<nav class="fixed-top px-3 d-flex justify-content-between align-items-center">
  <img
    role="button"
    routerLink=""
    class="me-3"
    src="assets/images/weather-app.png"
    alt="WeatherApp Logo"
  />
  <label for="search" *ngIf="!router.url.includes('provincia')">
    <input
      class="form-control form-control-sm"
      type="text"
      id="search"
      name="search"
      placeholder="Cerca per provincia..."
    />
  </label>
  <label *ngIf="router.url.includes('provincia')" for="select">
    <select
      name="forecast-hour"
      id="forecast-hour"
      class="form-select form-select-sm"
    >
      <option *ngFor="let date of dates; let i = index" value="{{ i }}">{{ date }}</option>
    </select>
  </label>
</nav>
