html {
  height: stretch;
  height: -webkit-stretch;
}

main {
  height: calc(100vh - 124px);
  min-height: stretch;
  min-height: -webkit-stretch;
  overflow-y: auto;
}

footer {
  span {
    font-size: 12px;
  }
}
