<div class="container">
  <div class="pt-3 select-day position-absolute top-0 end-0 me-4">
    <label *ngIf="router.url.includes('provincia')" for="select">
      <select
        [(ngModel)]="dateFilter"
        name="forecast-hour"
        id="forecast-hour"
        class="form-select form-select-sm rounded-pill"
      >
        <option
          class="rounded-pill"
          *ngFor="let date of dates"
          value="{{ date }}"
        >
          {{ date }}
        </option>
      </select>
    </label>
  </div>

  <div class="pt-5 province d-flex align-items-center justify-content-center">
    <div class="col-12">
      <div class="card align-items-center p-1">
        <div
          class="top-weather d-flex align-items-center justify-content-between"
        >
          <img
            src="/assets/images/weather/{{
              provincieService.getIcon(provincia)
            }}.png"
            class="card-img-top"
            alt="{{ provincieService.getDescription(provincia) }}"
          />

          <div>
            <cite>{{ provincieService.getDescription(provincia) }}</cite>
            <p>
              <strong>{{ provincia.city }}</strong> <br />{{ provincia.region }}
            </p>
            <h1 class="display-1">
              <strong>{{ provincieService.getTemperature(provincia) }}</strong>
            </h1>
            <p *ngIf="provincia.list">
              {{ getHour() | date: "shortTime" }}
            </p>
          </div>
        </div>
        <div
          class="pt-5 w-100 forecast-future-weather d-flex justify-content-between"
        >
          <div *ngFor="let forecast of getWeatherForDate()">
            <p>
              {{ provincieService.getTemperature(null, forecast.main.temp) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
