/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  transition: all 1s;
}

body {
  padding-top: 80px;
  background-image: url("/assets/images/background-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(203, 229, 250);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 227, 255);
}

.card {
  background-color: rgba(156, 156, 156, 0.1);
  border: none;
}

.home,
.province {
  img {
    margin: 20px 0;
    width: 70px;
  }
}

.province {
  height: 60%;
}
