<div class="container">
  <nav class="fixed-top px-3 d-flex justify-content-between align-items-center">
    <img
      role="button"
      routerLink=""
      class="me-3"
      src="assets/images/weather-app.png"
      alt="WeatherApp Logo"
    />
    <label for="search">
      <input
        [(ngModel)]="searchProvincia"
        class="form-control form-control-sm rounded-pill"
        type="text"
        id="search"
        name="search"
        placeholder="Cerca per provincia..."
        autocomplete="off"
      />
    </label>
  </nav>

  <div class="home">
    <div class="row g-3 flex-wrap">
      <a
        routerLink="/provincia/{{ provincia.city.replace(' ', '-') }}"
        class="nav-link col-12 col-md-6 col-lg-4 col-xl-3"
        *ngFor="let provincia of provincie | filter: searchProvincia"
      >
        <div class="card align-items-center">
          <img
            src="/assets/images/weather/{{
              this.provincieService.getIcon(provincia)
            }}.png"
            class="card-img-top"
            alt="{{ provincia.city }}"
          />
          <div class="card-body text-center">
            <p class="card-text">
              <strong>{{ provincia.city }}</strong>
              <br />
              {{ provincia.region }}
            </p>
            <h1>
              {{ provincieService.getTemperature(provincia) }}
            </h1>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
